/*****************
 *** Custom CSS ***
 *****************/

ons-input[type=text] {
  width: 90%;
}

ons-button[modifier=large] {
  width: initial;
  margin: 10px;
}

ons-splitter-side[side="left"][animation="overlay"] {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.highlight {
  background-color: burlywood;
  color: orangered;
}

.left-label {
  width: 30%;
  font-size: 16px;
  color: whitesmoke;
}

.page__background {
  background-color:burlywood;
}

.toolbar,.tabbar.ons-tabbar__footer {
  background-color: chocolate;
}

.tabbar__label {
  color: whitesmoke;
}

.list {
  background-color: lightgray;
}

.list-item {
  color: whitesmoke;
}

.list-title {
  font-size: initial;
  font-style: italic;
  font-weight: bold;
}

.text-input {
  background-color: white;
}

.center.list-item__center {
  color: black;
}

.center.toolbar__center.toolbar__title {
  color: blue;
  font-weight: bold;
}

.center.list-item__center.list-item--nodivider__center {
  color: whitesmoke;
}
.toolbar-button {
  color: blue;
}
.list-item.highlight > .center.list-item__center{
  color: red;
  font-weight: bold;
}

.tabbar__item.active > .tabbar__label {
  font-weight: bold;
}

/********************
 *** Animation CSS ***
 ********************/

#tabbarPage .list {
  background-color: lightgray;
  overflow-x: hidden;
  margin-top: -1px;
  border-bottom: 1px solid #ccc;
}

#tabbarPage .list-item {
  min-height: 0;
  height: 44px;
  background-color: lightgray;
  margin: 1px 0 -1px 0;
}

#tabbarPage .list-item--material {
  height: 56px;
}

.list-title {
  margin-top: 12px;
}

.hide-children * {
  overflow: hidden;
}

.animation-swipe-right {
  pointer-events: none;
  -webkit-animation: swipe-right .9s ease-in-out forwards;
          animation: swipe-right .9s ease-in-out forwards;
}

.animation-swipe-left {
  pointer-events: none;
  -webkit-animation: swipe-left .9s ease-in-out forwards;
          animation: swipe-left .9s ease-in-out forwards;
}

.animation-remove {
  pointer-events: none;
  -webkit-animation: remove .7s ease-in-out forwards;
          animation: remove .7s ease-in-out forwards;
}

@-webkit-keyframes swipe-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 0;
    opacity: 0.3;
  }
}

@keyframes swipe-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 0;
    opacity: 0.3;
  }
}

@-webkit-keyframes swipe-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 0;
    opacity: 0.3;
  }
}

@keyframes swipe-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 0;
    opacity: 0.3;
  }
}

@-webkit-keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    height: 0;
  }
}

@keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    height: 0;
  }
}
